@import '../../assets/styles/mixins';

.not-found {
    @include displayFlex(center, center, column);
    width: 100%;
    min-height: 100px;
    margin: 1em auto;

    #{&}__picture {
        width: 215px;
        margin: 0.3em auto;
    }

    #{&}__description {
        font-family: Syne;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #121212;
        margin: 0.3em auto;
    }
}