.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 20px;
  z-index: 100;
  overflow-x: hidden;
}

.menu .menu__main {
  width: 148px;
  height: 100%;
  margin-left: 75px;
  margin-right: 55px;
  font-size: 27px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .menu .menu__main {
    margin-left: 20px;
  }
}

.menu .menu__options {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.menu .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2em 1.2em;
  font-family: 'Syne', sans-serif;
  line-height: 21.6px;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .menu .menu__item {
    visibility: hidden;
  }
}

.menu .menu__sideBar {
  display: none;
  background: #000;
  background: #000;
  height: 3.25px;
  width: 28px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 24px;
  right: 30px;
}

.menu .menu__sideBar::before {
  content: '';
  background: #000;
  height: 3px;
  width: 28px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .menu__sideBar::after {
  content: '';
  background: #000;
  height: 3px;
  width: 28px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .menu .menu__sideBar {
    display: block;
  }
}

@media (max-width: 1024px) {
  .menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 95vh;
    top: 0px;
    background-color: #FFF;
    border-radius: 0 0 30px 30px;
  }
  .menu.open .menu__main {
    height: auto;
    margin-top: 30px;
  }
  .menu.open .menu__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .menu.open .menu__item {
    margin: 1em auto;
    margin-left: 20px;
    text-align: left;
    visibility: visible;
  }
  .menu.open .menu__sideBar {
    margin-top: 20px;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    background: transparent;
  }
  .menu.open .menu__sideBar:before {
    -webkit-transform: rotate(45deg) translate(0px, 7px);
            transform: rotate(45deg) translate(0px, 7px);
  }
  .menu.open .menu__sideBar:after {
    -webkit-transform: rotate(-45deg) translate(0px, -8px);
            transform: rotate(-45deg) translate(0px, -8px);
  }
}

.drop {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  max-width: 935px;
  max-height: 1021px;
}

@media (max-width: 1024px) {
  .drop {
    max-height: 650px;
    max-width: 595px;
  }
}

@media (max-width: 768px) {
  .drop {
    max-height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=header.css.map */