@import '../../assets/styles/variables';
@import '../../assets/styles/functions';
@import '../../assets/styles/mixins';

.loading {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    #{&}__spinner {
        width: 50px; 
        height: 50px; 
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 70;
        transform: translateX(-50%), translateY(-50%);

    }
}